#my-recepies-table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 5px;
}

#my-recepies-table thead th {
  font: 16px "Roboto";
  font-weight: 900;
  color: #f0972a;
  text-transform: capitalize;
  text-align: left;
  padding-bottom: 12px;
}

#my-recepies-table tbody tr {
  background: #ffffff;
  border-radius: 5px;
  height: 61px;
  cursor: pointer;
}

.table-recipe-name {
  width: 282px;
  font: 16px "Roboto";
  color: #a5a5a5;
  font-weight: 900;
  padding-left: 32px;
  text-transform: capitalize;
}

.table-recipe-category {
  width: 223px;
}

.table-recipe-date {
  font: 16px "Roboto";
  width: 81px;
  color: #a5a5a5;
}
.table-recipe-delete {
  text-align: end;
  padding-right: 47px;
}

.table-recipe-category span {
  font: 12px "Roboto";
  font-weight: 900;
  background: #96bb36;
  border-radius: 5px;
  color: #ffffff;
  text-transform: uppercase;
  padding: 5px 16px;
}

#my-recepies-table thead th:nth-child(1) {
  padding-left: 32px;
}

#my-recepies-table thead th:last-child {
  text-align: end;
  padding-right: 32px;
}

td button {
  border: none;
  background: transparent;
  cursor: pointer;
}

.info-msg{
    color:#f0972a;
    font-family: "Roboto Slab", serif;
    margin-top: 93px;
}

.table-recipe-delete{
    position: relative;
}

